{
  "root": true,
  "globals": {
    "$": true
  },
  "env": {
    "node": true,
    "es2022": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "prettier"
  ],
  "rules": {}
}